[submodule "testing123"]
	path = testing123
	url = https://github.com/heavyk/testing123
[submodule "pure-desire"]
	path = pure-desire
	url = https://github.com/heavyk/pure-desire
[submodule "world-net"]
	path = world-net
	url = https://github.com/heavyk/world-net
[submodule "24andme"]
	path = 24andme
	url = https://github.com/heavyk/24andme
